.label-navy {
    background-color: #000080 !important;
}
.label-teal {
    background-color: #008080 !important;
}
.label-purple {
    background-color: #800080 !important;
}
.label-maroon {
    background-color: #800000 !important;
}
.label-black {
    background-color: #000000 !important;
}
